$colorSelectSite:#F16D7F;
$backBlock: #222222;
$colorText: #000000;
$color_Back: #FFFFFF;
$color_button_slider:rgba(42, 42, 42, 0.15);
$widthSite: 1140px;
$widthAll: 1600px;
$gapGrid: 30px; 
$thirdSite: ($widthSite - $gapGrid * 2) / 3;