
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

 
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  

* {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    outline: none;   
}

a {
    text-decoration: none;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% -800px);
}


.header_top {
    background-color: #222222;     
}

.header_top_content {
    padding-left: 14%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.header_top_content a:hover {   
    border: 2px solid blue;
}
 
.left_header_top_content {  
    width: 10%;
    height: 38px;      
    display: flex;   
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 18px;
    margin-bottom: 19px;
}

.right_header_top_content {
    width: 14%;    
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}

.img_not_mobile:hover {    
    animation: heartbeat 2s ease-in-out infinite both;
}

.img_not_mobile:active {
    background-color: #F26376; 
}

.header_bottom {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 50% 50%;   
    justify-content: center;
    flex-wrap:wrap;
}

.element_big {
    grid-column: span 1;
    grid-row: span 2;    
}  

.element_top {
    display: flex;
    align-items: flex-end;    
}

.element_top_info {
    margin-left: 8%;   
    width: 51%;
    display: flex;   
    justify-content: space-between;
    flex-wrap:wrap;        
}

.brand_img_mobile {
    display: none;           
}

.content_banner {
    padding-top: 65px;
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 31.8%);
    grid-column-gap: 2.7%;
    grid-row-gap: 30px;
    flex-wrap:wrap;
}

.item:hover {
    transform: scale(1.4);
}

.item_wide  {
    grid-column: span 3;
    grid-row: span 1;    
}

.content_center {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    color: #222222;
    font-size: 1.875em;
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 6px;
}

.subtitle:hover {
    color:#F16D7F;
    transform: scale(1.4);
    transition: 2s;
}

.text {
    color: #9F9F9F;
    font-size: 0.875em;
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 48px;
}

.content_product {    
    padding-left: 14%;
    padding-right: 14%;
    display: grid;
    grid-template-columns: repeat(3, 31.8%);
    gap: 2.7%;
    flex-wrap:wrap;      
}

.product {    
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;         
}

.product_img {
    width: 100%;    
}

.product:hover {   
    border: 2px solid blue;
}

.product_sale {
    position: relative;    
}

.product_sale:hover::after {
    content: "sale";
    position: absolute; 
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 18px;    
    background-color: #F16D7F;
    color: #222224;   
}

.heading {
    color: black;
    font-size: 0.81em;
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 12.65px;
    margin-top: 24.35px;
    padding-left: 1em;    
}

.desc {
    color: #5D5D5D;
    font-size: 0.875em;
    font-family: Lato;
    font-weight: 300;
    margin-bottom: 18px;
    padding-left: 1em;
    padding-right: 1.8em;
}
.price {
    color: #F16D7F;
    font-size: 1em;
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 1em;
}

.button_product {
    width: 13.4%;
    padding: 15px 2.4% 14px;
    border: 1px solid #FF6A6A;
    background: #FFFFFF;
    color: #F26376;
    font-size: 1em;
    font-family: Lato;
    font-weight: 400; 
    margin-top: 63px;
}

.button_product:hover {
    color: blue; 
}

.footer {
    background-color: #222224;
}

.footer_top {
    padding: 104px 14.4%;
    display: grid;
    grid-template-columns: repeat(3, 31.6%);
    gap: 2.6%;
    align-items: center; 
}

.special_offer_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_1 {
    margin-bottom: 9px;
}

.logo_1:hover {
    transform: translate(60px);
    transition: transform 2s;
}

.logo_2:hover {
    transform: rotate(360deg);
    transition: transform 2s;
}

.logo_3 {
    margin-bottom: 5.99px;
}

.logo_3:hover {
    transform: translateY(-40px) scale(1.3);
    transition: transform 2s;
}

.footer_subtitle {
    margin-top: 19.07px;
    margin-bottom: 16px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_text {
    padding-left: 7%;
    padding-right: 7%;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_center {
    padding-bottom: 126px;
    display: grid;
    grid-template-columns: 50% 50%;   
    height: 448px;
    background-image: url(img/footer_center_back.jpg);
    position: relative;
    z-index: 1;  
 }

 .footer_center::after {
    content: "";
    background-color:#F4F4F4;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;     
 }

.footer_center_info {  
    margin-top: 97px;
    margin-left: 28.5%;
    margin-right: 26.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.footer_face_img {
    background: none;
}

.footer_center_text {
    margin-top: 30px;
    height: 99px;
    width: 100%;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_center_text_italic {
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.footer_center_text_italic:hover {
    color: #F16D7F;
}

.footer_center_email { 
    margin-top: 150px;
    margin-right: 40.8%;
    margin-left: 14.6%;
    display: flex;
    flex-direction: column;   
    z-index: 4;
}

.footer_center_subtitle {
    margin-bottom: 32px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_center_subtitle_fat {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;     
}

.footer_center_subtitle_fat:hover {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.footer_center_subtitle_medium {
    color: #222224;
    font-family: Lato;
    font-size: 18px;  
    font-weight: 400;
 }

.subscription {    
    display: flex;
    justify-content: space-between;
}

.subscription_email {
    background-color: #E1E1E1;
    color: #222224;
    font-family: Lato;
    font-size: 14px;    
    font-weight: 400; 
    padding: 7px 64px 6px 22px;
    width: 100%;
    height: 49px;
    border: solid transparent;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.subscription_email:hover {
     border: 2px solid blue;
}

.subscription_button {
    background-color: #F16D7F;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;   
    font-weight: 400;
    width: 28.09%;
    padding: 11px;
    border: 7px 7px 6px 8px;
    border: solid transparent;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.subscription_button:hover {
    color: blue;
    font-size: 18px;  
    border: 2px solid blue;
    transition: color 2s;
}

.subscription_button:active {
    color: #F16D7F;   
    background-color: #5D5D5D;
}

.footer_social {
    padding: 30px 14.4% 30px 14.7%;
}

.footer_social_info {    
    display: flex;
    justify-content: space-between;
    color: #FBFBFB;
    font-family: Lato;
    font-weight: 400;
    size: 16px;
    line-height: 19.2px;
}

.social {
    width: 13%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 7.29px;  
}

.icon_box {
    width: 31.45px;
    height: 32px;
    background-color: #FFFFFF;   
    display: flex;
    justify-content: center;
    align-items: center;     
}

.icon_box:hover {
    background-color: blue;
}

.icon:active {
    background-color:rgb(202, 3, 36);
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
  
    .header_top_content {
        padding-left: 4.1%;
        padding-right: 4.1%;             
    }

    .left_header_top_content {  
        width: 15.8%;      
    }   

    .right_header_top_content {
        width: 23.4%;   
    }
    
    .header_big_img {
        width: 386px;
    }

    .top_info_brand_img {
        width: 283px;
    }

    .element_top_info {
        margin-left: 7%;   
        width: 81%;
        display: flex;   
        align-items: flex-start;     
    }

    .brand_img_mobile {
        display: none;           
    }
    
    .content_banner {
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 110px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-column-gap: 4%;
        grid-row-gap: 19.38px;
    }

    .img_item {
        width: 231.97px;
    }

    .img_item_wide {
        width: 734.58px;
    }

    .subtitle {
        margin-bottom: 3.3px;
    }
    
    .text {
        margin-bottom: 72,74px;
    }

    .content_center {
        margin-bottom: 70.52px;
    }

    .content_product {    
        padding-left: 0.6%;
        padding-right: 0.6%;        
        grid-template-columns: repeat(2, 48%);
        gap: 1em;
        justify-content: center;        
    }
   
    .button_product {
        width: 27.6%;
        padding: 15px 5% 14px;
        margin-top: 47.48px;
    }

    .footer_top {
        height: 610px;
        padding: 48.16px 26.5% 64px 26.5%;
        display: flex;
        flex-wrap: wrap; 
        gap: 48.47px;        
    }

    .footer_center {
        padding-bottom: 140px;  
        height: 693px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-size: cover;
        background-position: -425px;
        background-position-y: 95px;    
        position: relative;        
    }

     .footer_center::before {
        content: '';
        background-color: #F4F4F4;       
        top: 0;
        left: 0;
        right: 0;        
        bottom: 596px;
        width: 100%;        
        position: absolute;
        z-index: 3;        
    }

    .footer_center_info {  
        margin-top: 64px;
        margin-left: 26.5%;
        margin-right: 26.6%;            
    }

    .footer_center_email {        
        margin-right: 26.4%;
        margin-left: 27.2%;    
    }

    .footer_social {
        padding: 30px 4.38% 30px 4.17%;
    }

    .social {
        width: 21%;        
    }

    .icon_box:nth-child(2) {
        background-color: #F16D7F;
    }
}

@media (max-width: 767px)
and (min-width:320px) {
    img {
        max-width: 100%;             
    }

    .header_top_content {
        padding-left: 4.3%;
        padding-right: 4.3%;
        height: 74px;
    }

    .left_header_top_content {  
        width: 32.4%;        
        margin-bottom: 18px;
    }

    .right_header_top_content {
        width: 8.5%;  
    }

    .img_not_mobile {
        display: none;
    }

    .header_bottom {
        height: 363px;
        grid-template-columns: 100%;    
    }

    .element_big, .element_lower {
        display: none;    
    }  

    .element_top {        
        align-items: center;    
    }

    .element_top_info {
        margin-left: 14.5%;
        margin-right: 14.5%;
        align-items: center; 
    }

    .top_info_line_img {
        height: 61px;
        width: 4.5%;
    }

    .top_info_brand_img {
        display: none;           
    }

    .brand_img_mobile {
        display: block;
        width: 89.7%;      
    }
       
    .content_banner {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 4.3%;
        padding-right: 4.3%;        
        grid-template-columns: repeat(1, 100%);
        grid-auto-flow: row;
        grid-row-gap: 32px;
    }

    .item_wide  {
        grid-column: span 1;
        grid-row: span 1;      
    }

    .img_item {
        width: 343vw;        
    }

    .img_item_wide {
        width: 343vw;
        height: 111px;
        object-fit: cover;
    }

    .content_center {
        margin-bottom: 85px;
    }
    
    .subtitle {        
        margin-bottom: 3.3px;
    }
    
    .text {
        margin-bottom: 64.7px;
    }

    .content_product {    
        padding-left: 2.1%;
        padding-right: 2.1%;
        grid-template-columns: repeat(1, 100%);
        grid-auto-flow: row;
        grid-row-gap: 16.61px;
    }

    .button_product {
        width: 56.6%;
        padding: 15px 1.8% 14px; 
        margin-top: 40.61px;
        margin-left: 19.7%;   
        margin-right: 23.7%;
    }

    .footer_top {
        padding: 48px 3.47% 81px 3.78%;
        display: flex;
        flex-wrap: wrap; 
        gap: 46.73px;
    }

    .footer_subtitle {
        margin-top: 18.42px;
        margin-bottom: 14.66px;
    }

    .logo_1 {
        margin-bottom: 8.7px;
    }

    .logo_3 {
        margin-bottom: 5.8px;
    }

    .footer_center {
        padding-bottom: 109.92px;  
        height: 550px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;       
        background-size: cover;
        background-position: -445px;
    }

     .footer_center_info {  
        margin-top: 64px;  
        margin-right: 4.3%;
        margin-left: 4.3%;            
    }

    .footer_center_email {  
        margin-top: 59px;      
        margin-right: 4.5%;
        margin-left: 4.55%;     
    }

    .footer_center_subtitle {
        margin-bottom: 22.15px;
    }

    .footer_center_subtitle_medium {
        color: #222224;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 153.2%;
        text-align: center;
    }

    .footer_center_text {
        margin-top: 29.27px;
        height: 73px;
        width: 100%;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #222224;
    }
        
    .footer_center_text_italic {
        color: #222224;
        font-family: Lato;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    .footer_social {
        padding: 43px 16.5% 9px 16.5%;
        height: 143px;
    }
    
    .footer_social_info {    
        display: flex;
        flex-direction:column-reverse;      
        align-items: center;
    }
       
    .social {
        width: 58.83%;       
    }  
    
    .icon_box {     
        margin-bottom: 40px;
    }
}


